@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-black-primary;
  color: rgb(var(--foreground-rgb));
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  @apply max-container py-5 px-3 flex justify-between items-center relative;
}

.link-flex {
  @apply flex items-center gap-1;
}

.nav-link {
  @apply hover:bg-white-primary hover:text-black-primary px-5 py-2 rounded-full;
}

.cta-nav {
  @apply bg-white-secondary text-black-primary font-semibold px-5 py-2 rounded-full hover:bg-gradient-to-r hover:from-blue hover:to-purple hover:text-white-primary transition-all cursor-pointer whitespace-nowrap;
}

.menu-mobile {
  @apply lg:hidden text-xl cursor-pointer h-[40px] w-[40px] flex items-center justify-center;
}

.menu-desktop {
  @apply flex justify-between gap-12 items-center max-lg:h-0 max-lg:absolute max-lg:top-[100%] max-lg:w-full max-lg:left-0 max-lg:px-3 max-lg:bg-black-primary overflow-hidden transition-all;
}

.menu-desktop.showing {
  @apply flex flex-col justify-start gap-4 items-end;
  height: calc(100vh - 80px);
}

.menu-desktop.showing .link-flex{
  @apply flex-col w-full 
}
.menu-desktop.showing .link-flex a{
  @apply w-full 
}

.menu-desktop.showing .nav-link{
  @apply bg-black-secondary rounded-none text-right hover:bg-white-primary
}

.hero{
  @apply w-full flex flex-col items-center justify-center max-lg:px-8 max-sm:px-3;
  min-height: calc(100vh - 80px - 35px);
}

.hero-title{
  @apply text-6xl font-extrabold font-chakra mt-5 text-center leading-[60px] max-md:text-[2.6rem] max-md:leading-none max-sm:text-3xl
}
.hero-title span{
  @apply bg-gradient-to-r from-blue to-purple bg-clip-text text-transparent
}

.sub-hero {
  @apply mt-5 w-[50%] text-center text-lg max-lg:w-[80%] max-sm:w-[100%] max-sm:text-base
}

.button{
  @apply uppercase px-4 py-1 bg-white-primary text-black-primary rounded-md cursor-pointer hover:bg-gradient-to-r hover:from-blue hover:to-purple hover:text-white-primary transition-all border border-transparent text-center
}
.button-outline{
  @apply uppercase px-4 py-1 bg-transparent text-white-primary rounded-md cursor-pointer hover:bg-gradient-to-r hover:border-transparent hover:from-blue hover:to-purple hover:text-white-primary transition-all border border-white-primary text-center
}

.button-lg{
  @apply !px-8 !py-3
}

.brand-item{
  @apply h-auto
}

.brands-title{
  @apply font-chakra text-2xl font-semibold
}

.leading-brands{
  @apply max-container px-8 grid grid-cols-[1fr_1fr] items-center pb-10 max-lg:grid-cols-1 max-lg:gap-7 max-xl:px-8 max-xl:grid-cols-[1fr_2fr] max-sm:px-3
}

.brand-item{
  @apply max-lg:w-[200px] max-sm:w-[42%]
}

.brand-item img{
  @apply max-sm:w-[100%]
}

.title-section{
  @apply font-chakra text-5xl font-extrabold
}

.text-gradient{
  @apply bg-gradient-to-r from-blue to-purple bg-clip-text text-transparent
}


.img-project{
  aspect-ratio: 4/3;
  object-fit: cover;
}

.item-project{
  @apply bg-black-secondary shadow-md rounded-lg overflow-hidden
}

.item-project .title{
  @apply font-chakra text-2xl font-semibold
}

.item-project .sub{
  @apply text-base-content text-sm mb-5
}

.item-project .tech {
  @apply flex gap-2 items-center mb-3
}

.item-project .item-tech{
  @apply text-xs text-white-secondary bg-white-primary/40 px-2 py-1 rounded-full
}

.button-gradient{
  @apply uppercase w-max rounded-full px-4 py-1 bg-white-primary text-black-primary cursor-pointer hover:bg-gradient-to-r hover:from-blue hover:to-purple hover:text-white-primary transition-all border border-transparent text-center
}

.item-project .desc{
  @apply p-5
}